<app-top-right></app-top-right>

<div class="main-warp">
    <app-nav></app-nav>

    <div class="page-section about-page">
        <div class="about-warp">
            <div class="row">
                <div class="col-xl-12 order-2 order-xl-1">
                    <div class="about-text">
                        <h2></h2>
                        <b><p>D&Eacute;CLARATION DE CONFIDENTIALIT&Eacute;</p></b>
                        <p>----</p>
                        <b><p>ARTICLE 1 &ndash; RENSEIGNEMENTS PERSONNELS RECUEILLIS</p></b>
                        <p>Lorsque vous effectuez un achat sur notre boutique, dans le cadre de notre processus
                            d&rsquo;achat et de vente, nous recueillons les renseignements personnels que vous nous
                            fournissez, tels que votre nom, votre adresse et votre adresse e-mail.</p>
                        <p>Lorsque vous naviguez sur notre boutique, nous recevons &eacute;galement automatiquement
                            l&rsquo;adresse de protocole Internet (adresse IP) de votre ordinateur, qui nous permet
                            d&rsquo;obtenir plus de d&eacute;tails au sujet du navigateur et du syst&egrave;me
                            d&rsquo;exploitation que vous utilisez.</p>
                        <p>Marketing par e-mail (le cas &eacute;ch&eacute;ant): Avec votre permission, nous pourrions
                            vous envoyer des e-mails au sujet de notre boutique, de nouveaux produits et d&rsquo;autres
                            mises &agrave; jour.</p>
                        <p></p>
                        <b><p>ARTICLE 2 - CONSENTEMENT</p></b>
                        <p>Comment obtenez-vous mon consentement?</p>
                        <p>Lorsque vous nous fournissez vos renseignements personnels pour conclure une transaction,
                            v&eacute;rifier votre carte de cr&eacute;dit, passer une commande, planifier une livraison
                            ou retourner un achat, nous pr&eacute;sumons que vous consentez &agrave; ce que nous
                            recueillions vos renseignements et &agrave; ce que nous les utilisions &agrave; cette fin
                            uniquement.</p>
                        <p>Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison,
                            &agrave; des fins de marketing par exemple, nous vous demanderons directement votre
                            consentement explicite, ou nous vous donnerons la possibilit&eacute; de refuser.</p>
                        <p>Comment puis-je retirer mon consentement?</p>
                        <p>Si apr&egrave;s nous avoir donn&eacute; votre consentement, vous changez d&rsquo;avis et ne
                            consentez plus &agrave; ce que nous puissions vous contacter, recueillir vos renseignements
                            ou les divulguer, vous pouvez nous en aviser en nous contactant &agrave;
                            sudogen.enterprise@gmail.com ou par courrier &agrave;: Sudogen Beauty Yaound&eacute;,
                            Cameroon, Yaound&eacute;, CE, , Cameroon</p>
                        <p></p>
                        <b><p>ARTICLE 3 &ndash; DIVULGATION</p></b>
                        <p>Nous pouvons divulguer vos renseignements personnels si la loi nous oblige &agrave; le faire
                            ou si vous violez nos Conditions G&eacute;n&eacute;rales de Vente et d&rsquo;Utilisation.
                        </p>                        
                        <p></p>
                        <b><p>ARTICLE 4 &ndash; S&Eacute;CURIT&Eacute;</p></b>
                        <p>Pour prot&eacute;ger vos donn&eacute;es personnelles, nous prenons des pr&eacute;cautions
                            raisonnables et suivons les meilleures pratiques de l&rsquo;industrie pour nous assurer
                            qu&rsquo;elles ne soient pas perdues, d&eacute;tourn&eacute;es, consult&eacute;es,
                            divulgu&eacute;es, modifi&eacute;es ou d&eacute;truites de mani&egrave;re
                            inappropri&eacute;e.</p>
                        <p>Si vous nous fournissez vos informations de carte de cr&eacute;dit, elles seront
                            chiffr&eacute;es par le biais de l&rsquo;utilisation du protocole de s&eacute;curisation SSL
                            et conserv&eacute;es avec un chiffrement de type AES-256. Bien qu&rsquo;aucune
                            m&eacute;thode de transmission sur Internet ou de stockage &eacute;lectronique ne soit
                            s&ucirc;re &agrave; 100 %, nous suivons toutes les exigences de la norme PCI-DSS et mettons
                            en &oelig;uvre des normes suppl&eacute;mentaires g&eacute;n&eacute;ralement reconnues par
                            l&rsquo;industrie.</p>
                        
                        <b><p>ARTICLE 5 &ndash; MODIFICATIONS APPORT&Eacute;ES &Agrave; LA PR&Eacute;SENTE POLITIQUE DE
                            CONFIDENTIALIT&Eacute;</p></b>
                        <p>Nous nous r&eacute;servons le droit de modifier la pr&eacute;sente politique de
                            confidentialit&eacute; &agrave; tout moment, donc veuillez s&rsquo;il vous plait la
                            consulter fr&eacute;quemment. Les changements et les clarifications prendront effet
                            imm&eacute;diatement apr&egrave;s leur publication sur le site web. Si nous apportons des
                            changements au contenu de cette politique, nous vous aviserons ici qu&rsquo;elle a
                            &eacute;t&eacute; mise &agrave; jour, pour que vous sachiez quels renseignements nous
                            recueillons, la mani&egrave;re dont nous les utilisons, et dans quelles circonstances nous
                            les divulguons, s&rsquo;il y a lieu de le faire.</p>
                        <p>Si notre boutique fait l&rsquo;objet d&rsquo;une acquisition par ou d&rsquo;une fusion avec
                            une autre entreprise, vos renseignements pourraient &ecirc;tre transf&eacute;r&eacute;s aux
                            nouveaux propri&eacute;taires pour que nous puissions continuer &agrave; vous vendre des
                            produits.</p>
                        <p></p>
                        <p></p>
                        <p>QUESTIONS ET COORDONN&Eacute;ES</p>
                        <p>Si vous souhaitez: acc&eacute;der &agrave;, corriger, modifier ou supprimer toute information
                            personnelle que nous avons &agrave; votre sujet, d&eacute;poser une plainte, ou si vous
                            souhaitez simplement avoir plus d&rsquo;informations, contactez notre agent responsable des
                            normes de confidentialit&eacute; &agrave; sudogen.enterprise@gmail.com ou par courrier
                            &agrave; Sudogen Beauty</p>
                        <p>[Re: Agent des Normes de Confidentialit&eacute;]</p>
                        <p>[Yaound&eacute;, Cameroon, Yaound&eacute;, CE, , Cameroon]</p>
                        <p>----</p>
                        <p></p>

                    </div>

                    <a routerLink="/produits" class="col-lg-12 site-btn about-btn">Produits</a>
                </div>

            </div>
        </div>
    </div>

</div>