<app-top-right></app-top-right>


<div class="main-warp">
	<app-nav></app-nav>
	<!-- Page section -->
	<!-- Page section -->
	<div class="page-section about-page">
		<div class="about-warp">
			<div class="row">
				<div class="col-xl-7 order-2 order-xl-1">
					<div class="about-text">
						<span>Description</span>
						<h2>{{ nom }}</h2>
						
						<p *ngFor="let line of description">{{ line }}</p>

							<div ng-bind="description" style="white-space:pre-wrap"></div>
					
						<p>
							<br><br>

							<button onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSeAh2ykS9qHpbSpXuRzrPSQuDl3-60PCZ7XxLXFri442WUvmQ/viewform?usp=sf_link';" class="site-btn mr-3">
								
								Commander</button>
						</p>

					</div>
					<div class="milestones">
						<div class="mileston">
							<h2>{{ client_satisfait }}</h2>
							<p>clients Satisfaits</p>
						</div>
						<div class="mileston">
							<h2>{{ duree }}</h2>
							<p>Semaines</p>
						</div>
					</div>
					<a routerLink="/produits" class="col-lg-12 site-btn about-btn">Produits</a>
				</div>
				<div class="col-xl-4 offset-xl-1 order-1 order-xl-2 offset-0 pl-0">
					<div class="about-image">
						<img src="../../../../assets/img/{{short_name}}.jpg" alt="" width="600">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page section end-->
</div>