<header class="header-section">
    <div class="header-close">
      <i class="fa fa-times"></i>
    </div>
    <div class="header-warp">
      <a href="" class="site-logo">
        <img src="../assets/img/logo.png" alt="">
      </a>
      <img src="../assets/img/menu-icon.png" alt="" class="menu-icon">
      <ul class="main-menu">
        <li routerLinkActive="active"><a routerLink="/produits">Produits</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
        <li routerLinkActive="active"><a routerLink="/politique-de-confidentialité">Politique</a></li>
      </ul>
      <div class="social-links-warp">
        <div class="social-links">
          <a target="_blank" href="https://www.facebook.com/SudogenBeautyOfficial/"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/sudogen_beauty/"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="social-text"></div>
      </div>
    </div>
    <div class="copyright">SBeauty 2020 @ All rights reserved</div>
  </header>